<!DOCTYPE html>
<html lang="en">
<head>
  <title>About Us - Gcibelo Bakery Store</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<!-- nav bar -->
<!-- Navbar -->
<nav class="navbar navbar-expand-lg  bg-light navbar-light" >
  <a class="navbar-brand" href="/">My Store</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ">
      <li class="nav-item active mt-0">
        <a class="navbar-brand" href="#"><img src="assest/images/logo.svg" class="img mt-0" width="54" height="46" alt="Cinque Terre" > </a>
      </li>
      <li class="nav-item ml-auto">
        <a class="nav-link" href="cart.html">Products</a>
      </li>
    </ul>
  </div>
</nav>

<!-- end of nav bar-->
<div class="container mt-5">
  <h1 class="text-center">About Us</h1>
  <hr>
  <h2>Gcibelo Bakery Store</h2>
  <p>Based in Nilgiri 29 Milan Park Bethal 2310 Mpumalanga, we have been operating for more than 5 years.</p>
  
  <h3>Ordering Information:</h3>
  <ul>
    <li>We request that you send your order at least 3 days before.</li>
    <li>Price list excludes the bucket.</li>
    <li>We also bake cakes that are not included on the list on request.</li>
    <li>50% deposit secures your order.</li>
  </ul>

  <h3>Delivery:</h3>
  <p>We also deliver.</p>

  <h3>Thank You:</h3>
  <p>Thank you for choosing us always.</p>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
